<h1>Uploaded Excel Data</h1>

<table border="1">
  <thead>
    <tr>
      <% @sheet_data.first.keys.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @sheet_data.each do |row| %>
      <tr>
        <% row.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Upload Another File", new_upload_path %>
